@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

#content{
    height : 100%;
    padding-top:15vh;
}

#portrait{
    padding-left: 5vw;
    padding-right: 5vw;
}

#portrait-img{
    width:40vmin;
    height:55vmin;
}

#short-presentation{
    display:flex;
    flex-direction: row;
}

#short-presentation-text{
    width: 50vw;
    height: 50vh;
    font-family:'Chakra Petch',serif;
    font-size: large;
}

.text-reference{
    color:rgb(206, 67, 67);
}

.text-reference:visited{
    color:rgb(206, 67, 67);
    text-decoration: none;
}

@media (max-width:900px){
    #short-presentation{
        flex-direction: column;
        text-align: center;
    }
    #short-presentation-text{
        padding-top: 25px;
        padding-left: 25%;
    }
}