*{
    text-decoration: none;
}

#navbar{
    position: fixed;
    display:flex;
    flex-direction: row;
    background-color: rgb(101, 148, 82);
    width:100vw;
    height:10vh;
}

.navbar-button, .navbar-button-hoverable{
    width : 10%;
    height : 100%;
    text-align: center;
}

.navbar-button-hoverable:hover{
    background-color: rgb(161, 114, 151);
    transition: 0.4s;
}

.navbar-button-text{
    color:rgb(5, 26, 5);
    font-size: 1.75vmin;
}

.navbar-button-empty{
    width:40%;
}

.navbar-button-text , #navbar-contact-text, #navbar-email{
    padding-top:2em;
}

#navbar-contact{
    font-size: 1.75vmin;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    width : 15vw;
    height:10vh;
}

#navbar-contact-text{
    padding:0;  
    height:100%;
    width:100%;
}

#navbar-email{
    padding-top:5%;
}

#navbar-contact-base-text{
    padding-top: 2vh;
}

#languages-buttons{
    display:flex;
    flex-direction: column;
}

#languages{
    width:10vw;
}


#languages-buttons{
    padding:0.5em;
    margin:0;
    height:100%;
    right:0;
    width:100%;
}

.language-selection-button{
    width:20%;
}

.language-selection-image{
    display:inline-flexbox;
    max-width: 100%;
    max-height: 90%;
}

@media(max-width:900px){
    .navbar-button, .navbar-button-hoverable{
        width : 16.667%;
        height : 100%;
        text-align: center;
    }
    .navbar-button-empty{
        width:0;
        background-color: aliceblue;
    }
}