#project-list{
    padding-left: 5vw;
}

li{
    padding-top: 2.5%;
}

.project-main-title{
    padding-left: 2%;
    font-family:'Chakra Petch',serif;
    font-size:xx-large;
}

.project-time-indication{
    padding-left: 2%;
    font-size: x-large;
    color: rgb(133, 39, 39);
}

#project-lists {
    display : inline-block;
    width : 35vw;
    display : flex;
    flex-direction: row; 
}
#project-lists .project-list {  
    padding-left: 15vmin;
}

li img {
    width:35vw;
}

.project-title{
    padding-left:15%;
    padding-bottom: 5%;
    padding-top: 2.5%;
}

@media(max-width:900px){
    content{
        width:100vw;
    }
    #project-lists {
        display : inline-block;
        width : 100vw;
        display : flex;
        flex-direction: column; 
    }
    li img{
        width:90vw
    }
    #project-lists .project-list {
        padding-left: 5vw;
    }
}
