#project-list{
    padding-left: 5vw;
}

.content{
    padding-left: 2%;
}

li img{
    width:10%;
    padding-right: 10vw;
}

li{
    padding-top: 2.5%;
}

#pongscreen{
    width:25%;
}

#project-list img{
    padding-top : 2vh;
    display: block;
    align-items: center;
    width:70vmin;
}

.project-main-title{
    padding-left: 2%;
    font-family:'Chakra Petch',serif;
    font-size:xx-large;
}

.project-time-indication{
    padding-left: 2%;
    font-size: x-large;
    color: rgb(133, 39, 39);
}

#project-list {
    display : inline-block;
    width : 35vw;
    
}

.project-lists{
    display : flex;
    flex-direction: row;
}