html,body
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    min-height:100vh;
    position:relative;
}

#top 
{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:fixed;
    background: #005943;
    opacity: 90%;
    min-width: 100%; 
    justify-content: space-between;
    justify-items: right;
    margin-right: 50px;
}

#top #logo 
{
    background-size: cover;
    width:13vh;
    height:13vh;
    cursor:pointer;
}

.button{
    opacity:initial;
    width: 12vw;
    height: 10vh;
    background:none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    border:none;
    border-radius:8px;
    color:white;    
    transition:.5s;
}

.button:hover
{

    border:none;
    background: #019256;
    transform:scale(1.1) ;
}

html
{
    background-attachment: fixed;
    background-repeat:repeat;
    background-image:url("images/fond_star.png");
}

.accueil 
{
    background-attachment: fixed;
    background-image:url("images/background-accueil.png");
}



.corps
{
    display:flex;
    padding-top:20vh;
    flex-direction: column;
    align-items: center;
    justify-items: center;
} 


#foot
{
    opacity: 90%;
    display:flex;
    flex-direction:row;
    position:sticky;
    background: #005943;
    min-width: 100%;
    min-height:10vh;
    align-items: center;
    top:100%;
}

#foot>a
{
    text-decoration:solid;    
    color:#67ebb4;
    padding-left: 3vh;
}

#imageHome
{
    max-width: 25.4vh;
}

.corps
{
    color:white;
}

.corps>h1
{
    text-decoration: solid;
    font-size: 7vh;
}

.corps>h2
{
    color:rgb(255, 255, 255);
    font-style: italic;
}

.bloctexte
{
    margin-top:5vh;
    margin-bottom:5vh;
    margin-right:80vh;
    margin-left:80vh;
    display:flex;   
    flex-direction: column;
    border:solid #0dad78;
    border-width: 0.1vh;
    border-radius: 3vh;
    background: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.corps #imageaccueil
{
    margin:0;padding:0;
    top: 0;
    height:70%;
}

.corps .bloctexte p
{
    font-size: 2vh;
    text-decoration: none;
    padding-left:5vh;
    padding-right:5vh;
}

.corps .titre 
{
    font-size: 2.4vh;
    text-decoration: underline;
}


.corps .ml
{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vh;
    color:rgb(0, 167, 75);
}

.corps h3.ml
{
    color:rgb(255, 255, 255);
    font-size: 3vh;
}

.RS 
{
    margin-right: 2vh;
    display:flex;   
    align-items: center;
    border:solid #006b3e;
    justify-content: space-between;
    background: #00331e;
}

.RS>a>img
{
    padding-left:1vh;
    padding-right: 1vh;
    padding-top: 1.3vh;
    padding-bottom: 1vh;
    width:5vh;
    transition:.5s;
}

.RS>a>img:hover
{
    transform:scale(1.3)
}

/**Page Jeux*/

.lienJeux{
    transition:0.5s;
    width: 5vw;
    height: 5vw;
}

.lienJeux:hover{
    width: 7vw;
    height: 7vw;
}

#jeux{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    color: white;
}

#jeux>h1{

    font-size: 15vh;
    text-align: center;
}

#jeux>h2{
    font-size: 8vh;
}
#jeux h3{
    font-size: 5vh;
    text-align: center;
}

.illu{
    display: flex;
    flex-direction: row;
}


.illu>img{
    width: 60%;
    height: 60%;

}

.illu>div{
    width: 100%;
}

.illu>div>p{
    font-size: 2vw;
}



/**Fin page Jeux*/

.apropos
{
    flex-direction: row;
    justify-content:space-between;
    text-align: center;
}

.apropos img 
{
    width:40vw;
    height:50vh;
}

.apropos .lignetexte .bloctexte 
{
    display:inline-block;
    border:none;
}

.apropos a 
{
    text-decoration: none;
    color:rgb(0, 238, 255);
}

.corps .formulaire
{
    flex-direction: row;
}

.bloctexte  
{
    flex-direction:column;
}

.engagements
{    
    font-size: 120%;
    color:rgb(219, 218, 218);
    text-align: center;
    padding:5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight:600;
}

.engagements h1 
{
    margin-top: 0;
}

.corps img
{
    width: 70%;
    height: 70%;
}

.corps>#boule
{
    width:15%;
    height: 15%;
}

.engagements div
{
    display:inline-flex;
}

.engagements a
{
    text-decoration: none;
    color:rgb(41, 199, 41);
}

.engagements .greencode 
{
    color:rgb(41, 199, 41);
}

.input[name="message"]
{
    background: red;
}


@media (max-width:800px)
{
    #top 
    {
        left:0;
        position:relative;
        flex-direction:column;
    }
    .button
    {
        width:30vw;
        margin-bottom:5vh;
    }
    #top #logo 
    {
        margin-bottom:5vh;
    }
    .RS 
    {
        margin-bottom:20vh;
    }
    .bloctexte
    {
        padding-left:2vh;
        padding-right:2vh;
        margin-left:5vh;
        margin-right:5vh;
    }
    .corps .bloctexte p 
    {
        font-size: 3vh;
    }

    .corps h2 
    {
        padding-left: 2vh;
        padding-right: 2vh;
        text-align: center;
    }
    .corps .ml 
    {
        font-size: 3vh;
        text-align: center;
    }
    .apropos img 
    {
        width:95vw;
        height:40vh;
    }
    #jeux 
    {
        text-align: center;
    }
   
    .illu img
    {
        position:relative;
        padding-right:50px;
    }
    .illu
    {
        flex-direction: column;
    }
}